<h1><%= title %></h1>
<p>The social messaging site that <%= title %>s your time away!</p>
<% if(username) { %>
	<textarea id="tweet-box"></textarea>
	<br>
	<button id="tweet-submit" type="button">Tweet!</button>
<% } %>
