<h1>Create a <%= title %> Account!</h1>
<p> It's fast, free, and easy! </p>

<div class="round-box">
Username:
<br><input type="text" name="username" />
<br>Password:
<br><input type="password" name="password" />
<br>Retype Password:
<br><input type="password" name="password2" />
<br><button id="create-account" type="button">Create Account</button>
</div>
