<h1>Sign in to use <%= title %></h1>

<div class="round-box">
Username:
<br><input type="text" name="username" />
<br>Password:
<br><input type="password" name="password" />
<br><button id="login-submit" type="button">Sign in</button>

<br>
Don't have an account?
<a href="/account/create">Create an Account</a>
</div>
