<div class="login">     
	<% if(username) { %>
		Welcome, <%= username %>!
		<button id="logout-submit" type="button">Sign out</button>
	<% } else { %>
		<input id="username" type="text" />
		<button id="login-submit" type="button">Sign in!</button>
	<% } %>
</div>
