<h1>My <%= title %> Profile</h1>
<p>Here, you can specify a different name to be shown on your Fritter page or display profile text about you</p>

<div class="round-box"><table>
	<tr>
		<td>Username</td>
		<td><%= username %></td>
	</tr>
	<tr>
		<td>Display Name</td>
		<td><input type="text" name="name" value="<%= name %>" /></td>
	</tr>
	<tr>
		<td>About Me</td>
		<td><textarea name="about"><%= about %></textarea></td>
	</tr>

	<tr><td colspan="2"><br>Change Your Password</td></tr>

	<tr>
		<td>Current Password</td>
		<td><input type="password" name="oldPassword" /></td>
	<tr>
	<tr>
		<td>New Password</td>
		<td><input type="password" name="password" /></td>
	<tr>
	<tr>
		<td>Retype New Password</td>
		<td><input type="password" name="password2" /></td>
	<tr>
	
	<tr><td colspan="2"><button type="button" id="update-profile">Update</button></td></tr>
</table></div>
