<% for(var i=0; i<tweets.length; i++) { %>
	<div class="tweet">
		<% if(username === tweets[i].author) { %>
			<button class="x-button" type="button" value="<%= i %>">X</button>
		<% } %>
		<br>
		<i>@<%= tweets[i].author %> posted:</i>
		<br>
		<%= tweets[i].text %>
	</div>
<% } %>
