<% for(var i=0; i<tweets.length; i++) { %>
	<div class="tweet">
		<% if(username === tweets[i].author) { %>
			<button class="x-button" type="button" value="<%= i %>">X</button>
		<% } %>
		<br>
		<i>
			<a href="/users/<%= tweets[i].author %>">@<%= tweets[i].author %></a> posted:
		</i>
		<br>
		<%= tweets[i].text %>
	</div>
<% } %>
