/* Style sheet for the Fritter website */

html {
	background: linear-gradient(to bottom right, #00CCFF, #00FFFF);
}

body {
	padding: 50px;
}

.login {
	text-align: right;
}

#tweet-box {
	width: 50%;
	height: 100px;
	font-size: 12pt;
}

.tweet {
	width: 50%;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
	padding: 10px;
}

.x-button {
	float: right;
}
